body {
  text-align: center;
  color: #FAFAFA;              
  background-color: #2F2F2F;  
    
}
button {
	color: #FAFAFA;      
	background-color: #5F5F5F;
}
input {
	color: #FAFAFA;      
	background-color: #3F3F3F;
}